extends _layouts/base

include _modules/link/link

block content
  .wrapper
    .background
    .two-face.mbn.mtl
      .two-face__left
        .two-face__content.two-face__content--no-padding
          img.face(src='images/face.svg')
      .two-face__right
        .two-face__content.two-face__content--no-padding
          img.face(src='images/face-ascii.svg')
    .two-face.mbl
      .two-face__left
        .two-face__content
          h1 
            = site.data.global.firstName 
            | 
            span.sims= site.data.global.lastName 
          h2 
            = site.data.global.designTitle
            br.sims
            span.sims= site.data.global.devTitle
          p= site.data.global.function
          p= site.data.global.city
          a.sims(href="mailto:#{site.data.global.mail}")= site.data.global.mail
          a.sims(href="tel:#{site.data.global.tel}")= site.data.global.tel
          a.social(href="#{site.data.global.dribbbleUrl}", target="_blank")
            i.icon-dribbble
          a.social.sims(href="#{site.data.global.githubUrl}", target="_blank")
            i.icon-github
      .two-face__right
        .two-face__content
          h1= site.data.global.lastName
          h2= site.data.global.devTitle
          a(href="mailto:#{site.data.global.mail}")= site.data.global.mail
          a(href="tel:#{site.data.global.tel}")= site.data.global.tel
          a.social(href="#{site.data.global.githubUrl}", target="_blank")
            i.icon-github
            
    each val in site.data.projects
      .two-face.separ.work
        .two-face__left
          .two-face__content
            div.info.sims
              h3 
                = val.project[0].name
                a.link(href="#{val.project[0].url}", target="_blank")
                  i.icon-link
              p= val.project[0].desc
              h4= site.data.global.clientTitle
              p.tags
                span.tag= val.project[0].client
              h4= site.data.global.technoTitle
              p.tags
                each tags in val.project[0].tags
                  span.tag= tags
            .work__img-container
              each imgs in val.project[0].images
                img(src="#{imgs}")
        .two-face__right
          .two-face__content
            h3 
              | Tf1
              a.link(href="#", target="_blank")
                i.icon-link
            p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            h4= site.data.global.clientTitle
            p.tags
              span.tag tf1
            h4= site.data.global.technoTitle
            p.tags
              each tags in val.project[0].tags
                span.tag= tags
    .two-face.separ
      .two-face__left
        .two-face__content
          h3.sims.mbs Design
          h4= site.data.global.skillsTitle
          p.tags
            each val in site.data.global.skills
              span.tag= val
          h4= site.data.global.toolsTitle
          p.tags
            each val in site.data.global.tools
              span.tag= val
          div.sims
            h3.mbs.mtm Dev
            h4= site.data.global.langsTitle
            p.tags
              each val in site.data.global.langs
                span.tag= val
            h4= site.data.global.frameworksTitle
            p.tags
              each val in site.data.global.frameworks
                span.tag= val
      .two-face__right
        .two-face__content
          h4= site.data.global.langsTitle
          p.tags
            each val in site.data.global.langs
              span.tag= val
          h4= site.data.global.frameworksTitle
          p.tags
            each val in site.data.global.frameworks
              span.tag= val
